%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #e3f2fd;"}
  %a.navbar-brand SAMPLE BULLETINBOARD APPAPP
  %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarTogglerDemo02.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      - if user_signed_in?
        %li.nav-item
          .nav-link
            = "User: #{current_user.nickname}"
        %li.nav-item
          = link_to "HOME", root_path, class: "nav-link"
          %span.sr-only (current)
        %li.nav-item
          = link_to "POST", new_board_path, class: "nav-link"
        %li.nav-item
          = link_to "LOGOUT", destroy_user_session_path, method: :delete, class: "nav-link", data: { confirm: "ログアウトします。よろしいでしょうか。" }
      - else
        %li.nav-item
          = link_to "HOME", root_path, class: "nav-link"
          %span.sr-only (current)
        %li.nav-item
          .nav-link{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "@mdo" } 
            LOGIN
        %li.nav-item
          = link_to "SIGNUP", new_user_registration_path, class: "nav-link"
    - if current_page?(root_path) || /boards.+SEARCH/ === request.fullpath
      = search_form_for @q, html: { class: "form-inline my-2 my-lg-0" } do |f|
        = f.search_field :title_or_content_cont, class: "form-control mr-sm-2", placeholder: "Thread"
        = f.search_field :comments_comment_lteq, class: "form-control mr-sm-2", placeholder: "Responce"
        = f.submit "SEARCH", class: "btn btn-outline-success my-2 my-sm-0"

-# ログアウトモーダル表示
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title LOGIN
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
            = f.hidden_field :url, value: request.fullpath
          - if devise_mapping.rememberable?
            .form-group.form-check
              = f.check_box :remember_me, class: 'form-check-input'
              = f.label :remember_me, class: 'form-check-label'
          .modal-footer
            .action
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} CLOSE
              = f.submit "LOGIN", class: 'btn btn-primary'
