= form_with(model: board, html: { class: "needs-validation", novalidate: true }, local: true) do |f|
  .form-row
    .col-md-12.mb-3.mt-3
      = f.label :title
      = f.text_field :title, class: "form-control", placeholder: "タイトルを入力", required: true
      .invalid-feedback
        タイトルを入力してください
  .form-row
    .col-md-12.mb-3.mt-3
      = f.label :tag_list
      = f.text_field :tag_list, value: board.tag_list.join(','), class: "form-control", placeholder: "カンマ区切りで入力", required: true
  .form-row
    .col-md-12.mb-3.mt-3
      = f.label :content
      = f.text_area :content, class: "form-control", placeholder: "本文を入力してください", rows: 5, required: true
      .invalid-feedback
        本文を入力してください
  = f.submit "登録", class: "btn btn-primary"
