%nav.navbar.navbar-expand-lg.navbar-light{:style => "background-color: #e3f2fd;"}
  %a.navbar-brand{:href => "#"} SAMPLE BULLETINBOARD APP
  %button.navbar-toggler{"aria-controls" => "navbarTogglerDemo02", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarTogglerDemo02", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarTogglerDemo02.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-2.mt-lg-0
      %li.nav-item.active
        %a.nav-link{:href => "#"}
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => "#"} Link
      %li.nav-item
        %a.nav-link.disabled{:href => "#"} Disabled
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{:placeholder => "Search", :type => "search"}/
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

.container
  .col
    .row
      - @boards.each do |board|
        .card.mt-2.w-100
          .card-header
            .d-flex.justify-content-start
              .fisrt-justify-content
                = board.title
              .secpond-justify-content.ml-3
                - board.tag_list.each do |tag|
                  = link_to tag, "#", class: "badge badge-warning"
          .card-body
            %blockquote.blockquote.mb-0
              .d-flex.justify-content-between
                .fisrt-justify-content
                  %p
                    = board.content
                  %footer.blockquote-footer
                    = " 投稿者：issei  投稿日：#{l board.created_at}"
                .secpond-justify-content
                  = link_to "詳細", board_path(board.id), class: "btn btn-primary text-right"
