= render "shared/navbar"
.container
  .col
    .row
      = render "shared/alert_message"
  .col
    .row
      .card.w-100.mt-3
        .card-header
          .d-flex.justify-content-start
            .fisrt-justify-content
              = "ID: #{@board.id} #{@board.title}"
            .secpond-justify-content.ml-3
              - @board.tag_list.each do |tag|
                = link_to tag, "#", class: "badge badge-warning"
        .card-body
          .d-flex.justify-content-between
            .fisrt-justify-content
              %h5.card-title
                = simple_format(@board.content)
              %p.card-text
                = " 投稿者：#{@board.user.nickname}  投稿日：#{l @board.created_at}"
            .secpond-justify-content
              = link_to "Back", root_path, class: "btn btn-primary text-right"
  .col
    .row.card-margin-buttom.js-ajax-card
      - @comments.each.with_index do |comment, index|
        .card.w-100.mt-3.comment{data: {comment: {id: comment.id}}}
          .card-body
            %h6.card-title
              = "#{index + 1}:"
              - if user_signed_in? && current_user.id == comment.user.id
                = "#{comment.user.nickname}(main)"
              - else
                = comment.user.nickname
            = "投稿日: #{l comment.created_at}"
            %p.card-text
              = simple_format(comment.comment)

- if user_signed_in?
  %nav.navbar.fixed-bottom.navbar-expand-lg.navbar-light{:style => "background-color: #cccccc;"}
    = form_with model: [@board, @comment], local: true, html: { class: "needs-validation form-inline justify-content-center form-width-100", novalidate: true, id: "form-js-ajax" } do |f|
      = f.text_area :comment, rowa: 2, class: "form-control w-75", required: true
      = f.submit "SEND", class: "btn btn-primary w-10 ml-3", id: "form-send-button"
